<div class = "container">
    <h1 class = 'heading' style = "color: white;">Electronic States</h1>
    <div class = "info">

        <table>
            <tr>
                <td>Downloading Data</td>
                <div class="led-red" id="downloadButton"></div>
            </tr>
            <tr>
                <td>Valve Verification</td>
                <div class="led-green" id="valveVerification"></div>
            </tr>     
            <tr>
                <td>Teststand Connection</td>
                <div class="led-red" id="connection"></div>
            </tr>  
          </table>
    </div>
</div>

