// Overall formatting 

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: beige;
    height:100%;
    width: 100%;
}

h1, p, h3, h2 {
    margin: 0px;
    padding: 0px;
}

.heading {
    margin: 20px 0px; // sets vertical margins for 20px, horizontal for 0px
    text-decoration: underline;
  }