<div class = "container">
    <h1 class = 'heading'>Electronic States</h1>
    <div class = "info">

        <table>
            <tr>
              <td>Arming Switch</td>
              <div class="led-red"></div>
            </tr>
            <tr>
                <td>Downloading Data</td>
                <div class="led-red"></div>
            </tr>
            <tr>
                <td>Valve Verification</td>
                <div class="led-green"></div>
            </tr>     
            <tr>
                <td>Teststand Conenction</td>
                <div class="led-red"></div>
            </tr>  
          </table>
    </div>
</div>

