.header {
  background: #141332;
  color: white;
  height: 100%;
  box-sizing: border-box;
  padding: 0.5em;
}

#logo {
  height: 100%;
  width: 25em;
  line-height: 0;
  margin: auto;
  
}

img {
  float: left;
  height: 120%;
  filter:invert(1);
}

p {
  float: right;
  font-size: 28px;
}
