.header {
  background: #141332;
  color: white;
  height: 64px; //sets height for header, may have to change later but this accounts for other sections of interface not being in flexbox
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 140px;
}

.logoComponents{
  display: flex; //turns components for logo into flex components to be moved
  align-items: center; //aligns any items children within .logo_components to be vertically aligned
  gap: 8px; //sets gap between items 
  
}

p { //removes default padding and margins from p class
  padding: 0px;
  margin:0px
}
.logoText {
  font-size: 28px;
  font-weight: bold;
  font-family: impact;
}

.logoPicture , .rocketPicture {
  height: 50px; //sets height for image
  width:auto; //auto adjusts width for image dependant on height
   
}

.mirror { // mirror function for images
  transform:scaleX(-1); 
}