.header {
  background: #141332;
  color: white;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 0px;
}

#logo {
  height: 100%;
  width: 25em;
  line-height: 0;
  margin: auto;
}

img {
  float: left;
  height: 100%;
}

p {
  float: right;
  font-size: 28px;
}
