<div>
  <img src="../assets/images/NETS_P&ID.png" alt="Diagram" />
  <button (click)="toggleColor('FO-P')" class="FO-P" id="FO-P">FO-P</button>
  <button (click)="toggleColor('FC-P')" class="FC-P" id="FC-P">FC-P</button>
  <button (click)="toggleColor('FO-FP')" class="FO-FP" id="FO-FP">FO-FP</button>
  <button (click)="toggleColor('FO-OP')" class="FO-OP" id="FO-OP">FO-OP</button>
  <button (click)="toggleColor('FC-OP')" class="FC-OP" id="FC-OP">FC-OP</button>
  <button (click)="toggleColor('FC-FP')" class="FC-FP" id="FC-FP">FC-FP</button>
  <button (click)="toggleColor('FC1-O')" class="FC1-O" id="FC1-O">FC1-O</button>
  <button (click)="toggleColor('FC2-O')" class="FC2-O" id="FC2-O">FC2-O</button>
  <button (click)="toggleColor('FO-O')" class="FO-O" id="FO-O">FO-O</button>
  <button (click)="toggleColor('PV-O')" class="PV-O" id="PV-O">PV-O</button>
  <button (click)="toggleColor('PV-F')" class="PV-F" id="PV-F">PV-F</button>
  <p class="PV-O_status">B:B</p>
  <p class="PV-F_status">R:R</p>
</div>
