#diagram-container {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 2em;
  box-sizing: border-box;
}

#diagram {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

img {
  height: 100%;
  width: auto;
}
.killSwitchLabel{
  position: absolute;
  top: 92.5%;
  left: 0%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  font-size: 30px;
  width: 150px;
  outline: none;
}
.WARNING{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  font-size: 100px;
  width: 100%;
  outline: none;
  visibility: hidden;
}
.KILL {
  position: absolute;
  top: 95%;
  left: 13%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  background-color: red;
  font-size: 15px;
  padding: 20px 20px;
  cursor: pointer;
  border-radius: 10%;
  width: 100px;
  outline: none;
}
.FO-P {
  position: absolute;
  top: 53.9%;
  left: 41%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  background-color: red;
  font-size: 10px;
  padding: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 5%;
  outline: none;
}
.FC-P {
  position: absolute;
  top: 38%;
  left: 41%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  background-color: red;
  font-size: 10px;
  padding: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 5%;
  outline: none;
}
.FO-FP {
  position: absolute;
  top: 19.6%;
  left: 18%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ff0000;
  color: white;
  font-size: 10px;
  padding: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 5%;
  outline: none;
}
.FC-FP {
  position: absolute;
  top: 27.8%;
  left: 13.35%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ff0000;
  color: white;
  font-size: 10px;
  padding: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 5%;
  outline: none;
}
.FO-OP {
  position: absolute;
  top: 17.1%;
  left: 69.4%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ff0000;
  color: white;
  font-size: 10px;
  padding: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 5%;
  outline: none;
}
.FC-OP {
  position: absolute;
  top: 24.5%;
  left: 74.2%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ff0000;
  color: white;
  font-size: 10px;
  padding: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 5%;
  outline: none;
}
.FC1-O {
  position: absolute;
  top: 58%;
  left: 81.53%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ff0000;
  color: white;
  font-size: 10px;
  padding: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 5%;
  outline: none;
}
.FC2-O {
  position: absolute;
  top: 58.9%;
  left: 68.9%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ff0000;
  color: white;
  font-size: 10px;
  padding: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 5%;
  outline: none;
}
.FO-O {
  position: absolute;
  top: 68.5%;
  left: 71.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ff0000;
  color: white;
  font-size: 10px;
  padding: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 5%;
  outline: none;
}
.PV-O {
  position: absolute;
  top: 65%;
  left: 46.45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ff0000;
  color: white;
  font-size: 10px;
  padding: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 4%;
  outline: none;
}
.PV-F {
  position: absolute;
  top: 65%;
  left: 42.1%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ff0000;
  color: white;
  font-size: 10px;
  padding: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 4%;
  outline: none;
}
.PV-O_status {
  position: absolute;
  top: 65.8%;
  left: 46.65%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.PV-F_status {
  position: absolute;
  top: 65.8%;
  left: 41.9%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*Sequence-1 needs to be placed in a good spot*/
.Sequence-1 {
  position: absolute;
  top: 92.5%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #1100ff;
  color: white;
  font-size: 10px;
  padding: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 8%;
  outline: none;
}

html {
  height: 100%;
}
div.div2 {
  top: 100%;
}