div{
  display: inline-block;
  padding: 0px;
  margin: 0px;
  position: relative;
}
img{
  width: 100%;
  height: 100%;
  margin: 0px;
  object-fit: cover;
  position: relative;
  max-width: 100%;
}
.FO-P{
  position: absolute;
  top: 53.2%;
  left: 56.55%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  background-color: red;
  font-size: 9.7px;
  padding: 7px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 3.2%;
}
.FO-FP{
  position: absolute;
  top: 21.5%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #FF0000;
  color: white;
  font-size: 9.7px;
  padding: 7px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 3.2%;
}
.FO-OP{
  position: absolute;
  top: 19.15%;
  left: 76.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #FF0000;
  color: white;
  font-size: 9.7px;
  padding: 7px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 3.2%;
}
.FC-OP{
  position: absolute;
  top: 26.3%;
  left: 80.25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #FF0000;
  color: white;
  font-size: 9.7px;
  padding: 7px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 3.2%;
}
html {
    height:100%;
}
div.div2 {
    top:100%;
}
.green{
  background-color: green;
}
.red{
  background-color: red;
}
