#diagram-container {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 2em;
  box-sizing: border-box;
}

#diagram {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

img {
  height: 100%;
  width: auto;
}
.killSwitchLabel{
  position: absolute;
  border-width: 5px;
  top: 92.5%;
  left: 0%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  font-size: 30px;
  width: 150px;
  outline: none;
}
.WARNING{
  position: absolute;
  border-width: 5px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  font-size: 100px;
  width: 100%;
  outline: none;
  visibility: hidden;
}
.KILL {
  position: absolute;
  border-width: 5px;
  top: 95%;
  left: 17%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  background-color: red;
  font-size: 15px;
  padding: 20px 20px;
  cursor: pointer;
  border-radius: 10%;
  width: 100px;
  outline: none;
}
<<<<<<< Updated upstream
.FO-P {
  position: absolute;
  border-width: 5px;
  top: 53.9%;
  left: 35.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  background-color: red;
  font-size: 10px;
  padding: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 5%;
  outline: none;
}
.FC-P {
  position: absolute;
  border-width: 5px;
  top: 36%;
  left: 38%;
=======
.FC-P {
  position: absolute;
  border-width: 5px;
  top: 38%;
  left: 47%;
>>>>>>> Stashed changes
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  background-color: red;
  font-size: 10px;
  padding: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 5%;
  outline: none;
}
.FO-FP {
  position: absolute;
  border-width: 5px;
<<<<<<< Updated upstream
  top: 19.6%;
  left: 11%;
=======
  top: 17%;
  left: 18%;
>>>>>>> Stashed changes
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ff0000;
  color: white;
  font-size: 10px;
  padding: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 5%;
  outline: none;
}
.FC-FP {
  position: absolute;
  border-width: 5px;
<<<<<<< Updated upstream
  top: 26%;
  left: 26%;
=======
  top: 26.5%;
  left: 28.5%;
>>>>>>> Stashed changes
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ff0000;
  color: white;
  font-size: 10px;
  padding: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 5%;
  outline: none;
}
.FO-P1 {
  position: absolute;
  border-width: 5px;
<<<<<<< Updated upstream
  top: 16%;
  left: 72.5%;
=======
  top: 55%;
  left: 46%;
>>>>>>> Stashed changes
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ff0000;
  color: white;
  font-size: 10px;
  padding: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 5%;
  outline: none;
}
.FO-P2 {
  position: absolute;
  border-width: 5px;
<<<<<<< Updated upstream
  top: 26%;
  left: 57%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ff0000;
  color: white;
  font-size: 10px;
  padding: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 5%;
  outline: none;
}
.FC1-O {
  position: absolute;
  border-width: 5px;
  top: 51%;
  left: 83%;
=======
  top: 55%;
  left: 71.5%;
>>>>>>> Stashed changes
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ff0000;
  color: white;
  font-size: 10px;
  padding: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 5%;
  outline: none;
}
.FC2-O {
  position: absolute;
  border-width: 5px;
<<<<<<< Updated upstream
  top: 73%;
  left: 67%;
=======
  top: 70%;
  left: 81%;
>>>>>>> Stashed changes
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ff0000;
  color: white;
  font-size: 10px;
  padding: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 5%;
  outline: none;
}
<<<<<<< Updated upstream
/*.FO-O {
  position: absolute;
  border-width: 5px;
  top: 68.5%;
  left: 95%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ff0000;
  color: white;
  font-size: 10px;
  padding: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 5%;
  outline: none;
}*/
.PV-O {
  position: absolute;
  border-width: 5px;
  top: 63%;
  left: 45%;
=======
.PV-O {
  position: absolute;
  border-width: 5px;
  top: 65%;
  left: 54%;
>>>>>>> Stashed changes
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ff0000;
  color: white;
  font-size: 10px;
  padding: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 4%;
  outline: none;
}
.PV-F {
  position: absolute;
  border-width: 5px;
<<<<<<< Updated upstream
  top: 62%;
  left: 39%;
=======
  top: 65%;
  left: 46%;
>>>>>>> Stashed changes
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ff0000;
  color: white;
  font-size: 10px;
  padding: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  width: 4%;
  outline: none;
}
.PV-O_status {
  position: absolute;
  top: 65.8%;
  left: 46.65%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.PV-F_status {
  position: absolute;
  top: 65.8%;
  left: 41.9%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

html {
  height: 100%;
}
div.div2 {
  top: 100%;
}