<div id="diagram-container">
  <div id="diagram">
    <img src="assets/images/NETS_P&ID_1.19.png" alt="Diagram" />
    <div class = 'killSwitchContainer'>
      <h1 class="killSwitchLabel">
        <!--KILL SWITCH-->
        KILL SWITCH
      </h1>
      <button (click)="killSwitch()" class="KILL" id="KILL">
        X
      </button>
    </div>
    <button (click)="sendValveStates()">
      SEND VALVES
    </button>
    <button (click)="testFire()">
      IGNITE
    </button>
    <button (click)="toggleState('FC_FP')" class="FC_FP" id="FC_FP">
      FC_FP
    </button>
    <button (click)="toggleState('FO_P1')" class="FO_P1" id="FO_P1">
      FO-P1
    </button>
    <button (click)="toggleState('FO_FP')" class="FO_FP" id="FO_FP">
      FO-FP
    </button>
    <button (click)="toggleState('FC_P')" class="FC_P" id="FC_P">
      FC-P
    </button>
    <button (click)="toggleState('FO2_O')" class="FO2_O" id="FO2_O">
      FO2-O
    </button>
    <button (click)="toggleState('FC1_F')" class="FC1_F" id="FC1_F">
      FC1-F
    </button>
    <button (click)="toggleState('PV_O')" class="PV_O" id="PV_O">
      PV-O
    </button>
    <button (click)="toggleState('PV_F')" class="PV_F" id="PV_F">
      PV-F
    </button>
    <button (click)="toggleState('FC4_O')" class="FC4_O" id="FC4_O">
      FC4_O
    </button>
    <button (click)="toggleState('FC3_O')" class="FC3_O" id="FC3_O">
      FC3_O
    </button>

    <p class="PV-O_status"></p>
    <p class="PV-F_status"></p>
    <h2 class="WARNING" id="WARNING">
      !!KILL SWITCH ACTIVATED!!
    </h2>
  </div>
</div>
