<div id="diagram-container">
  <div id="diagram">
    <img src="assets/images/NETS_P&ID_1.21.png" alt="Diagram" />
    <div class = 'killSwitchContainer'>
      <h1 class="killSwitchLabel">
        <!--KILL SWITCH-->
        KILL SWITCH
      </h1>
      <button (click)="killSwitch()" class="KILL" id="KILL">
        X
      </button>
    </div>
    <div class = "stepButtonContainer"> 
     <div class = "applyStateValves">
      <button style = "background-color: gray" (click)="sendValveStates()">
        SEND VALVES
      </button>
      <button style = "background-color: gray;" (click)="toggleVerification()">
        TOGGLE VERIFICATION
      </button>
      </div> 
      <button style = "background-color: gray;"(click)="testFire()">
        IGNITE
      </button>
    </div> 
    <button (click)="toggleState('FC_FP')" class="FC_FP" id="FC_FP">
      FC-FP
    </button>
    <button (click)="toggleState('FO_P1')" class="FO_P1" id="FO_P1">
      FO-P1
    </button>
    <button (click)="toggleState('FO_FP')" class="FO_FP" id="FO_FP">
      FO-FP
    </button>
    <button (click)="toggleState('FC_P')" class="FC_P" id="FC_P">
      FC-P
    </button>
    <button (click)="toggleState('FO2_O')" class="FO2_O" id="FO2_O">
      FO2-O
    </button>
    <button (click)="toggleState('FC1_F')" class="FC1_F" id="FC1_F">
      FC1-F
    </button>
    <button (click)="toggleState('PV_O')" class="PV_O" id="PV_O">
      PV-O
    </button>
    <button (click)="toggleState('PV_F')" class="PV_F" id="PV_F">
      PV-F
    </button>
    <button (click)="toggleState('FC4_O')" class="FC4_O" id="FC4_O">
      FC4-O
    </button>
    <button (click)="toggleState('FC3_O')" class="FC3_O" id="FC3_O">
      FC3-O
    </button>

    <p class="PV-O_status"></p>
    <p class="PV-F_status"></p>
    <h2 class="WARNING" id="WARNING">
      !!KILL SWITCH ACTIVATED!!
    </h2>
  </div>
  <div class = "valueBox">
    <h1>MAX VALUES</h1>
    <ul>
      <li>Ethanol Temperature: 80F (10+ Ambient)</li>
      <li>Nitrous Temperature: 90F Upper</li>
      <li>Ethanol Pressure: 1000PSI</li>
      <li>Nitrous Pressure: WARNING 850PSI UPPER: 1000 PSI</li>
    </ul> 
  </div>
</div>
