.container{
    box-sizing: border-box;
    margin: 0;
    background: #141332;
    height: 64px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.checkEngine{
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border: solid;
    color: white ;
}

p {
    margin: 0;
    padding: 0;
}