.container{
    box-sizing: border-box;
    margin: 0;
    background: #141332;
    height: 64px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.rocketPicture {
    height: 50px; //sets height for image
    width:auto; //auto adjusts width for image dependant on height
  }

.mirror { // mirror function for images
    transform:scaleX(-1); 
  }