.main {
    display: inline-block;
    position: relative;
    float: right;
    background: #4a5c91;
    height: 100%;
    width: 100%;
    color: white;
}
.selector {
    width: 100%;
}
.button {
    width: 100%;
}
.step_buttons {
    display: flex;
    justify-content: center;
}
.stepinfo {
    color: rgb(250, 204, 2);
}

.notes {
    height: 100px
}

