<div class="container">
    <h1 class = 'heading'>Sequencing</h1>
    <div class = stepBox>
        <button (click)="confirmAdvance()" class="button" id="tester">
            Apply Step
        </button>

        <p  class="currentstep" id="currentstep">
            Current Step: N/A
        </p>
        <div class="step_buttons">
            <button (click)="reverseStep()" class="button" id="reverse">
                Reverse Step
            </button>
            <button (click)="advanceStep()" class="button" id="advance">
                Forward Step
            </button>
        </div>
    </div>
    <div class = 'valveBox'>   
        <p >
            Valves to open/stay open:
        </p>

        <p  class="stepinfo" id="stepinfo">
            N/A
        </p>

        <p  class="stepinfo">
            All other valves will close/return to default state.
        </p>
    </div>
    <div class = 'noteBox'>
        <h3 >
            Notes:
        </h3>

        <p id="notes">
            Here, notes will be displayed about the selected sequence.
        </p>
    </div>
    
    <h3  id="sequence_title">
        Selected: none
    </h3>

    <table >
        <tr>
            <td>
                <button style="width:100%" (click)="selectSequence('Ethanol fill')" class="selector" id="selector">
                    Ethanol fill
                </button>
            </td>
            <td>
                <button (click)="selectSequence('Hot-fire')" class="selector" id="selector">
                    Hot-fire
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="selectSequence('Nitrous fill')" class="selector" id="selector">
                    Nitrous fill
                </button>
            </td>
            <td>
                <button (click)="selectSequence('Post-test OPS')" class="selector" id="selector">
                    Post-test OPS
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="selectSequence('Pre-test purge')" class="selector" id="selector">
                    Pre-test purge
                </button>
            </td>
            <td>
                <button (click)="selectSequence('Test')" class="selector" id="selector">
                    Test
                </button>
            </td>
        </tr>
    </table>
    <div class = "killSwitchBox" >
        <h1>KILL SWITCHES</h1>
        <tr>
            <td>
                <button class = "selector" id = "selector"> <!--(click) = "selectSequence(Kill-No-Purge)" -->
                NO PURGE KILL
                </button>
            </td>
            <td>
                <button class = "selector" id = "selector">
                    PURGE KILL 
                </button>
            </td>
        </tr>
    </div>

</div>
