#grid {
  display: grid;
  grid-template-rows: auto; //makes rows only as long as they have to be for content
  grid-template-columns: 1fr 3fr 1fr; //20em calc(100vw - 40em);
  grid-template-areas: 'rocket header checkEngine' 'data diagram sequencing'  'message empty empty';
}

app-header {
  grid-area: header;
}

app-data-display {
  grid-area: data;
}

app-diagram {
  grid-area: diagram;
}

app-sequencing {
  grid-area: sequencing;
}

app-check-engine{
  grid-area:checkEngine
}
.sendMessage{
  grid-area: message;
  font-weight: bold;
  
}

// Formatting for rocket image 

.container{
  box-sizing: border-box;
  margin: 0;
  background: #141332;
  height: 64px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.rocketPicture {
  height: 50px; //sets height for image
  width:auto; //auto adjusts width for image dependant on height
}

.mirror { // mirror function for images
  transform:scaleX(-1); 
}