#grid {
  display: grid;
  grid-template-rows: 4em calc(100vh - 4em);
  grid-template-columns: 20em calc(100vw - 40em);
  grid-template-areas: 'header header header' 'data diagram sequencing';
}

app-header {
  grid-area: header;
}

app-data-display {
  grid-area: data;
}

app-diagram {
  grid-area: diagram;
}

app-sequencing {
  grid-area: sequencing;
}
