

#grid {
  display: grid;
  grid-template-rows: min-content; //makes rows only as long as they have to be for content
  grid-template-columns: 1fr 3fr 1fr; //20em calc(100vw - 40em);
  grid-template-areas: 'rocket header checkEngine' 'data diagram sequencing' ;
}

app-header {
  grid-area: header;
}

app-data-display {
  grid-area: data;
}

app-diagram {
  grid-area: diagram;
}

app-sequencing {
  grid-area: sequencing;
}

app-rocket{
  grid-area: rocket;
}

app-check-engine{
  grid-area:checkEngine
}

.sendMessage{
  grid-area: message
}