.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #4A5C91;
  height: 100%;
  width: 100%;
  color: white;
}
.heading {
  margin: 20px 0px; // sets vertical margins for 20px, horizontal for 0px
  text-decoration: underline;
}
.pressureTransducerTable , .thermocoupleTable , .otherTable { //formats tables
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}
.tableHeading{
  text-decoration: underline;
}
table { //sets default spacing for all tables
  border-spacing: 15px;
}
h1 , h3, ul { //removes default margin and padding from h1 and h3
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.recordingButtons, .downloadOpenPosition{
  display: flex;
  gap: 20px;
}


button {
  color: white;
  font-size: 100%;
  font-weight: bold;
  width: 100px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  height: auto;
  
}
.recordDataStart{
  background: green;
}
.recordDataStop{
  background: red;
}
.downloadButton{
  background: darkorange;
}
.downloadData{
  color: white;
  text-decoration: none;
}

.openFileButton{
  background: pink;
}