<div>
<h1 align="center">Sensor Data</h1>
  <table style="border-spacing: 15px">
    <tr>
      <th>Pressure Transducer</th>
      <th>(Units)</th>
    </tr>
    <tr>
      <td>PT4-O</td>
      <td>DATA</td>
    </tr>
    <tr>
      <td>PT2-F</td>
      <td>DATA</td>
    </tr>

    <tr>
      <th align="left">Thermocouple</th>
      <th>(Units)</th>
    </tr>
    <tr>
      <td>TC2-F</td>
      <td>DATA</td>
    </tr>
    <tr>
      <td>TC5-O</td>
      <td>DATA</td>
    </tr>
  </table>
</div>
